
.App{
  
 display: flex;
 flex-direction: column;
 
 align-items: center;
 }

.add{
  display: flex;
  gap: 5px;
  align-items: center;
 background-color: transparent;
 color: white;
}
.add input{
  height: 30px;
  width: 300px;
 border: none;
 outline: none;
 font-size: large;
  border-bottom: 2px solid rgb(238, 5, 219);
  padding: 5px;
  color: antiquewhite;
  background-color: transparent;
}

.header{
  color: white;
  font-size: 70px;
  font-weight: bolder;
  
}

.todo{
     display: flex;
     color: aliceblue;
     
     font-size: larger;
     font-weight: bolder;
     justify-content: space-between;
     padding: 10px 30px 10px 30px;
     border-bottom: 2px solid rgb(238, 5, 219);
     width: 60%;
     align-self: center;
     border-radius: 40px ;
       
}

.todos{
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
  
  gap: 10px;  
}

.todo div
{
  display: flex;
  gap: 30px;
  
}


